html {
	padding:0;
	margin:0;
	height: 100%;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
* {
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
body {
	background-color: $bodyColor;
	color: $fontColor;
	font-family: 'OpenSansRegular';
	font-size: 16px;
	padding: 0;
	margin:0;
	height: 100%;
}
.wrapper {
	min-height: 100%;
	margin-bottom: -$footerHeight;
	min-width: $mainWidth;
	&:after {
		content: '';
		display: block;
		height: $footerHeight;
	}
}
.footer {
	height: $footerHeight;
	background-image: url("../images/footer-bg.jpg");
	min-width: $mainWidth;
}
@include placeholder-hide
@include placeholder