@import "../modules/product-type/product-type.scss";
@import "../modules/filter-color/filter-color.scss";
@import "../modules/filter-exist/filter-exist.scss";
@import "../modules/filter-brand/filter-brand.scss";
@import "../modules/filter-price/filter-price.scss";

.aside-wrapper {
	float: left;
	width: 333px;
}
.filters__list {
	background-color: $bgColor;
	border: 1px solid $borderColor;
	border-radius: 4px; 
}
.filters__item {
	border-bottom: 1px solid $borderColor;
	padding-left: 28px;
	padding-right: 21px;
	padding-top: 12px;
	padding-bottom: 14px;
	&:last-child {
		border-bottom: none;
	}
}
.filter {
	// margin-top: 16px;
}
.filter__header {
	font-size: 16px;
	font-family: 'OpenSansSemibold';
	font-weight: normal;
	margin: 0;
	margin-bottom: 16px;
	&_link {
		display: block;
		color: $fontColor;
		position: relative;
		max-width: 100%;
		&:after {
			display: block;
			content:'';
			position: absolute;
			transition: opacity 0.3s ease;
			top: 7px;
			right: 0px;
			@include sprite($arrow-up);
			opacity:0;
		}
		&:hover:after {
			opacity: 1;
		}
		&.active_link {
			&:after {
				@include sprite($arrow-down);
			}
		}
	}
}