
@import "adjustment.scss";
@import "header.scss";
@import "footer.scss";
@import "aside.scss";
@import "content.scss";
@import "../modules/product/product.scss";
@import "../modules/products-view/products-view.scss";
@import "../modules/diff-sort/diff-sort.scss";
@import "../modules/page-nav/page-nav.scss";
.main-wrapper, .info-wrapper {
	max-width: $mainWidth;
	margin: 0 auto;
}
.main-wrapper {
	@include clearfix;
}
.content-wrapper {
	float: right;
	width: 742px;
}
.aside-wrapper {
	float: left;
	max-width: 333px;
}
.info-wrapper {
	padding-top:18px;
	padding-bottom: 18px;
}
.info__content {
	text-align: justify;
	column-count: 2;
	-webkit-column-count: 2;
	column-gap: 38px;
	-webkit-column-gap: 38px;
	p {
		font-size: 14px;
		line-height: 20px;
		margin: 0;
		margin-bottom: 21px;
		text-indent: 38px;
	}
}
.info__header {
	font-family: 'OpenSansBold';
	font-size: 20px;
	line-height: 20px;
	margin: 0;
	margin-bottom: 18px;
}

