/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$arrow-down-name: 'arrow-down';
$arrow-down-x: 340px;
$arrow-down-y: 272px;
$arrow-down-offset-x: -340px;
$arrow-down-offset-y: -272px;
$arrow-down-width: 13px;
$arrow-down-height: 9px;
$arrow-down-total-width: 455px;
$arrow-down-total-height: 369px;
$arrow-down-image: '../images/sprite/sprite.png';
$arrow-down: (340px, 272px, -340px, -272px, 13px, 9px, 455px, 369px, '../images/sprite/sprite.png', 'arrow-down', );
$arrow-up-name: 'arrow-up';
$arrow-up-x: 86px;
$arrow-up-y: 272px;
$arrow-up-offset-x: -86px;
$arrow-up-offset-y: -272px;
$arrow-up-width: 18px;
$arrow-up-height: 11px;
$arrow-up-total-width: 455px;
$arrow-up-total-height: 369px;
$arrow-up-image: '../images/sprite/sprite.png';
$arrow-up: (86px, 272px, -86px, -272px, 18px, 11px, 455px, 369px, '../images/sprite/sprite.png', 'arrow-up', );
$check-hover-name: 'check-hover';
$check-hover-x: 174px;
$check-hover-y: 272px;
$check-hover-offset-x: -174px;
$check-hover-offset-y: -272px;
$check-hover-width: 13px;
$check-hover-height: 10px;
$check-hover-total-width: 455px;
$check-hover-total-height: 369px;
$check-hover-image: '../images/sprite/sprite.png';
$check-hover: (174px, 272px, -174px, -272px, 13px, 10px, 455px, 369px, '../images/sprite/sprite.png', 'check-hover', );
$check-name: 'check';
$check-x: 257px;
$check-y: 272px;
$check-offset-x: -257px;
$check-offset-y: -272px;
$check-width: 13px;
$check-height: 10px;
$check-total-width: 455px;
$check-total-height: 369px;
$check-image: '../images/sprite/sprite.png';
$check: (257px, 272px, -257px, -272px, 13px, 10px, 455px, 369px, '../images/sprite/sprite.png', 'check', );
$fb-big-hover-name: 'fb-big-hover';
$fb-big-hover-x: 362px;
$fb-big-hover-y: 0px;
$fb-big-hover-offset-x: -362px;
$fb-big-hover-offset-y: 0px;
$fb-big-hover-width: 11px;
$fb-big-hover-height: 21px;
$fb-big-hover-total-width: 455px;
$fb-big-hover-total-height: 369px;
$fb-big-hover-image: '../images/sprite/sprite.png';
$fb-big-hover: (362px, 0px, -362px, 0px, 11px, 21px, 455px, 369px, '../images/sprite/sprite.png', 'fb-big-hover', );
$fb-big-name: 'fb-big';
$fb-big-x: 276px;
$fb-big-y: 172px;
$fb-big-offset-x: -276px;
$fb-big-offset-y: -172px;
$fb-big-width: 11px;
$fb-big-height: 21px;
$fb-big-total-width: 455px;
$fb-big-total-height: 369px;
$fb-big-image: '../images/sprite/sprite.png';
$fb-big: (276px, 172px, -276px, -172px, 11px, 21px, 455px, 369px, '../images/sprite/sprite.png', 'fb-big', );
$fb-hover-name: 'fb-hover';
$fb-hover-x: 362px;
$fb-hover-y: 173px;
$fb-hover-offset-x: -362px;
$fb-hover-offset-y: -173px;
$fb-hover-width: 6px;
$fb-hover-height: 12px;
$fb-hover-total-width: 455px;
$fb-hover-total-height: 369px;
$fb-hover-image: '../images/sprite/sprite.png';
$fb-hover: (362px, 173px, -362px, -173px, 6px, 12px, 455px, 369px, '../images/sprite/sprite.png', 'fb-hover', );
$fb-name: 'fb';
$fb-x: 362px;
$fb-y: 91px;
$fb-offset-x: -362px;
$fb-offset-y: -91px;
$fb-width: 6px;
$fb-height: 12px;
$fb-total-width: 455px;
$fb-total-height: 369px;
$fb-image: '../images/sprite/sprite.png';
$fb: (362px, 91px, -362px, -91px, 6px, 12px, 455px, 369px, '../images/sprite/sprite.png', 'fb', );
$map-pin-name: 'map-pin';
$map-pin-x: 443px;
$map-pin-y: 0px;
$map-pin-offset-x: -443px;
$map-pin-offset-y: 0px;
$map-pin-width: 12px;
$map-pin-height: 16px;
$map-pin-total-width: 455px;
$map-pin-total-height: 369px;
$map-pin-image: '../images/sprite/sprite.png';
$map-pin: (443px, 0px, -443px, 0px, 12px, 16px, 455px, 369px, '../images/sprite/sprite.png', 'map-pin', );
$slider-name: 'slider';
$slider-x: 443px;
$slider-y: 336px;
$slider-offset-x: -443px;
$slider-offset-y: -336px;
$slider-width: 8px;
$slider-height: 14px;
$slider-total-width: 455px;
$slider-total-height: 369px;
$slider-image: '../images/sprite/sprite.png';
$slider: (443px, 336px, -443px, -336px, 8px, 14px, 455px, 369px, '../images/sprite/sprite.png', 'slider', );
$star-red-name: 'star-red';
$star-red-x: 0px;
$star-red-y: 272px;
$star-red-offset-x: 0px;
$star-red-offset-y: -272px;
$star-red-width: 16px;
$star-red-height: 15px;
$star-red-total-width: 455px;
$star-red-total-height: 369px;
$star-red-image: '../images/sprite/sprite.png';
$star-red: (0px, 272px, 0px, -272px, 16px, 15px, 455px, 369px, '../images/sprite/sprite.png', 'star-red', );
$star-name: 'star';
$star-x: 0px;
$star-y: 91px;
$star-offset-x: 0px;
$star-offset-y: -91px;
$star-width: 21px;
$star-height: 20px;
$star-total-width: 455px;
$star-total-height: 369px;
$star-image: '../images/sprite/sprite.png';
$star: (0px, 91px, 0px, -91px, 21px, 20px, 455px, 369px, '../images/sprite/sprite.png', 'star', );
$telephone-name: 'telephone';
$telephone-x: 443px;
$telephone-y: 86px;
$telephone-offset-x: -443px;
$telephone-offset-y: -86px;
$telephone-width: 12px;
$telephone-height: 16px;
$telephone-total-width: 455px;
$telephone-total-height: 369px;
$telephone-image: '../images/sprite/sprite.png';
$telephone: (443px, 86px, -443px, -86px, 12px, 16px, 455px, 369px, '../images/sprite/sprite.png', 'telephone', );
$tw-big-hover-name: 'tw-big-hover';
$tw-big-hover-x: 0px;
$tw-big-hover-y: 0px;
$tw-big-hover-offset-x: 0px;
$tw-big-hover-offset-y: 0px;
$tw-big-hover-width: 25px;
$tw-big-hover-height: 21px;
$tw-big-hover-total-width: 455px;
$tw-big-hover-total-height: 369px;
$tw-big-hover-image: '../images/sprite/sprite.png';
$tw-big-hover: (0px, 0px, 0px, 0px, 25px, 21px, 455px, 369px, '../images/sprite/sprite.png', 'tw-big-hover', );
$tw-big-name: 'tw-big';
$tw-big-x: 95px;
$tw-big-y: 0px;
$tw-big-offset-x: -95px;
$tw-big-offset-y: 0px;
$tw-big-width: 25px;
$tw-big-height: 21px;
$tw-big-total-width: 455px;
$tw-big-total-height: 369px;
$tw-big-image: '../images/sprite/sprite.png';
$tw-big: (95px, 0px, -95px, 0px, 25px, 21px, 455px, 369px, '../images/sprite/sprite.png', 'tw-big', );
$tw-hover-name: 'tw-hover';
$tw-hover-x: 0px;
$tw-hover-y: 357px;
$tw-hover-offset-x: 0px;
$tw-hover-offset-y: -357px;
$tw-hover-width: 16px;
$tw-hover-height: 12px;
$tw-hover-total-width: 455px;
$tw-hover-total-height: 369px;
$tw-hover-image: '../images/sprite/sprite.png';
$tw-hover: (0px, 357px, 0px, -357px, 16px, 12px, 455px, 369px, '../images/sprite/sprite.png', 'tw-hover', );
$tw-name: 'tw';
$tw-x: 86px;
$tw-y: 357px;
$tw-offset-x: -86px;
$tw-offset-y: -357px;
$tw-width: 16px;
$tw-height: 12px;
$tw-total-width: 455px;
$tw-total-height: 369px;
$tw-image: '../images/sprite/sprite.png';
$tw: (86px, 357px, -86px, -357px, 16px, 12px, 455px, 369px, '../images/sprite/sprite.png', 'tw', );
$view-large-active-name: 'view-large-active';
$view-large-active-x: 172px;
$view-large-active-y: 181px;
$view-large-active-offset-x: -172px;
$view-large-active-offset-y: -181px;
$view-large-active-width: 16px;
$view-large-active-height: 16px;
$view-large-active-total-width: 455px;
$view-large-active-total-height: 369px;
$view-large-active-image: '../images/sprite/sprite.png';
$view-large-active: (172px, 181px, -172px, -181px, 16px, 16px, 455px, 369px, '../images/sprite/sprite.png', 'view-large-active', );
$view-large-name: 'view-large';
$view-large-x: 91px;
$view-large-y: 91px;
$view-large-offset-x: -91px;
$view-large-offset-y: -91px;
$view-large-width: 16px;
$view-large-height: 16px;
$view-large-total-width: 455px;
$view-large-total-height: 369px;
$view-large-image: '../images/sprite/sprite.png';
$view-large: (91px, 91px, -91px, -91px, 16px, 16px, 455px, 369px, '../images/sprite/sprite.png', 'view-large', );
$view-medium-active-name: 'view-medium-active';
$view-medium-active-x: 276px;
$view-medium-active-y: 86px;
$view-medium-active-offset-x: -276px;
$view-medium-active-offset-y: -86px;
$view-medium-active-width: 16px;
$view-medium-active-height: 16px;
$view-medium-active-total-width: 455px;
$view-medium-active-total-height: 369px;
$view-medium-active-image: '../images/sprite/sprite.png';
$view-medium-active: (276px, 86px, -276px, -86px, 16px, 16px, 455px, 369px, '../images/sprite/sprite.png', 'view-medium-active', );
$view-medium-name: 'view-medium';
$view-medium-x: 276px;
$view-medium-y: 0px;
$view-medium-offset-x: -276px;
$view-medium-offset-y: 0px;
$view-medium-width: 16px;
$view-medium-height: 16px;
$view-medium-total-width: 455px;
$view-medium-total-height: 369px;
$view-medium-image: '../images/sprite/sprite.png';
$view-medium: (276px, 0px, -276px, 0px, 16px, 16px, 455px, 369px, '../images/sprite/sprite.png', 'view-medium', );
$view-small-active-name: 'view-small-active';
$view-small-active-x: 86px;
$view-small-active-y: 181px;
$view-small-active-offset-x: -86px;
$view-small-active-offset-y: -181px;
$view-small-active-width: 16px;
$view-small-active-height: 16px;
$view-small-active-total-width: 455px;
$view-small-active-total-height: 369px;
$view-small-active-image: '../images/sprite/sprite.png';
$view-small-active: (86px, 181px, -86px, -181px, 16px, 16px, 455px, 369px, '../images/sprite/sprite.png', 'view-small-active', );
$view-small-name: 'view-small';
$view-small-x: 190px;
$view-small-y: 91px;
$view-small-offset-x: -190px;
$view-small-offset-y: -91px;
$view-small-width: 16px;
$view-small-height: 16px;
$view-small-total-width: 455px;
$view-small-total-height: 369px;
$view-small-image: '../images/sprite/sprite.png';
$view-small: (190px, 91px, -190px, -91px, 16px, 16px, 455px, 369px, '../images/sprite/sprite.png', 'view-small', );
$vk-big-hover-name: 'vk-big-hover';
$vk-big-hover-x: 0px;
$vk-big-hover-y: 181px;
$vk-big-hover-offset-x: 0px;
$vk-big-hover-offset-y: -181px;
$vk-big-hover-width: 16px;
$vk-big-hover-height: 21px;
$vk-big-hover-total-width: 455px;
$vk-big-hover-total-height: 369px;
$vk-big-hover-image: '../images/sprite/sprite.png';
$vk-big-hover: (0px, 181px, 0px, -181px, 16px, 21px, 455px, 369px, '../images/sprite/sprite.png', 'vk-big-hover', );
$vk-big-name: 'vk-big';
$vk-big-x: 190px;
$vk-big-y: 0px;
$vk-big-offset-x: -190px;
$vk-big-offset-y: 0px;
$vk-big-width: 16px;
$vk-big-height: 21px;
$vk-big-total-width: 455px;
$vk-big-total-height: 369px;
$vk-big-image: '../images/sprite/sprite.png';
$vk-big: (190px, 0px, -190px, 0px, 16px, 21px, 455px, 369px, '../images/sprite/sprite.png', 'vk-big', );
$vk-hover-name: 'vk-hover';
$vk-hover-x: 443px;
$vk-hover-y: 254px;
$vk-hover-offset-x: -443px;
$vk-hover-offset-y: -254px;
$vk-hover-width: 10px;
$vk-hover-height: 12px;
$vk-hover-total-width: 455px;
$vk-hover-total-height: 369px;
$vk-hover-image: '../images/sprite/sprite.png';
$vk-hover: (443px, 254px, -443px, -254px, 10px, 12px, 455px, 369px, '../images/sprite/sprite.png', 'vk-hover', );
$vk-name: 'vk';
$vk-x: 443px;
$vk-y: 172px;
$vk-offset-x: -443px;
$vk-offset-y: -172px;
$vk-width: 10px;
$vk-height: 12px;
$vk-total-width: 455px;
$vk-total-height: 369px;
$vk-image: '../images/sprite/sprite.png';
$vk: (443px, 172px, -443px, -172px, 10px, 12px, 455px, 369px, '../images/sprite/sprite.png', 'vk', );
$spritesheet-width: 455px;
$spritesheet-height: 369px;
$spritesheet-image: '../images/sprite/sprite.png';
$spritesheet-sprites: ($arrow-down, $arrow-up, $check-hover, $check, $fb-big-hover, $fb-big, $fb-hover, $fb, $map-pin, $slider, $star-red, $star, $telephone, $tw-big-hover, $tw-big, $tw-hover, $tw, $view-large-active, $view-large, $view-medium-active, $view-medium, $view-small-active, $view-small, $vk-big-hover, $vk-big, $vk-hover, $vk, );
$spritesheet: (455px, 369px, '../images/sprite/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
