$orange: #ff6705;
$fontColor: #333333;
$bgColor: #fbfbfb;
$fontGrey: #7f7f7f;
$mainColor: #ebedef;
$bodyColor: #f4f4f4;
$borderColor: #dee1e4; 
$blue: #dde7ec;
$white: #fff;
$mainWidth: 1099px;
$footerHeight: 220px;
