.sort-wrapper {
  padding-left: 19px;
  padding-right: 2px;
  border-radius: 4px;
  background-color: #dde7ec;
  border: 1px solid #dee1e4;
  margin-bottom: 20px;
  display: block; }
  .sort-wrapper:after {
    content: '';
    display: table;
    height: 0;
    clear: both;
    visibility: hidden; }

.pages-wrapper {
  text-align: right; }

.products {
  margin-left: -18px;
  margin-bottom: 60px; }
