.socials {
  float: left; }

.socials__item {
  display: inline-block;
  position: relative;
  width: 26px;
  height: 26px;
  background-color: #333333;
  border-radius: 13px;
  margin-left: 12px; }
  .socials__item:first-child {
    margin-left: 0; }

.socials__link {
  display: block;
  text-indent: -9999px;
  height: 100%;
  width: 100%; }
  .socials__link:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%; }
  .socials__link_fb:after {
    background-image: url(../_dev/sprites/sprite.png);
    background-position: -172px -272px;
    width: 6px;
    height: 12px;
    margin-top: -6px;
    margin-left: -3px; }
  .socials__link_fb:hover:after {
    background-image: url(../_dev/sprites/sprite.png);
    background-position: -248px -272px;
    width: 6px;
    height: 12px; }
  .socials__link_vk:after {
    background-image: url(../_dev/sprites/sprite.png);
    background-position: -276px -182px;
    width: 10px;
    height: 12px;
    margin-top: -6px;
    margin-left: -5px; }
  .socials__link_vk:hover:after {
    background-image: url(../_dev/sprites/sprite.png);
    background-position: -357px -172px;
    width: 10px;
    height: 12px; }
  .socials__link_tw:after {
    background-image: url(../_dev/sprites/sprite.png);
    background-position: -86px -272px;
    width: 16px;
    height: 12px;
    margin-top: -6px;
    margin-left: -8px; }
  .socials__link_tw:hover:after {
    background-image: url(../_dev/sprites/sprite.png);
    background-position: 0px -272px;
    width: 16px;
    height: 12px; }

.logo__link {
  display: block;
  font: 0/0 serif;
  text-shadow: none;
  color: transparent; }

.logo {
  display: inline-block; }

.logo__img {
  max-width: 238px;
  max-height: 36px; }

.navigation {
  max-width: 1099px;
  margin: 0 auto;
  padding: 0 6px; }

.nav__list {
  font-size: 0; }

.nav__item {
  display: inline-block;
  font-size: 16px;
  line-height: 54px;
  padding-left: 15px;
  padding-right: 15px;
  transition: all 0.3s ease; }
  .nav__item:hover {
    background-color: #e4e2e2; }
  .nav__item.nav__item_active {
    background-color: #ff6705; }
    .nav__item.nav__item_active .nav__link {
      color: #fff; }

.nav__link {
  color: #333333;
  display: block; }

.nav__item.nav__item_small {
  line-height: 35px;
  background-color: none; }

.nav__link.nav__linl_small {
  display: inline;
  color: #fff;
  font-size: 14px; }

.footer-wrapper {
  max-width: 1099px;
  margin: 0 auto; }
