/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@font-face {
  font-family: 'OpenSansRegular';
  src: url(fonts/OpenSansRegular.eot);
  src: url(fonts/OpenSansRegular.eot) format("embedded-opentype"), url(fonts/OpenSansRegular.woff2) format("woff2"), url(fonts/OpenSansRegular.woff) format("woff"), url(fonts/OpenSansRegular.ttf) format("truetype"), url(fonts/OpenSansRegular.svg#OpenSansRegular) format("svg"); }

@font-face {
  font-family: 'OpenSansSemibold';
  src: url(fonts/OpenSansSemibold.eot);
  src: url(fonts/OpenSansSemibold.eot) format("embedded-opentype"), url(fonts/OpenSansSemibold.woff2) format("woff2"), url(fonts/OpenSansSemibold.woff) format("woff"), url(fonts/OpenSansSemibold.ttf) format("truetype"), url(fonts/OpenSansSemibold.svg#OpenSansSemibold) format("svg"); }

@font-face {
  font-family: 'OpenSansBold';
  src: url(fonts/OpenSansBold.eot);
  src: url(fonts/OpenSansBold.eot) format("embedded-opentype"), url(fonts/OpenSansBold.woff2) format("woff2"), url(fonts/OpenSansBold.woff) format("woff"), url(fonts/OpenSans-Bold.ttf) format("truetype"), url(fonts/OpenSansBold.svg#OpenSansBold) format("svg"); }

@font-face {
  font-family: 'OpenSansBolditalic';
  src: url(fonts/OpenSansBoldItalic.eot);
  src: url(fonts/OpenSansBoldItalic.eot) format("embedded-opentype"), url(fonts/OpenSansBoldItalic.woff2) format("woff2"), url(fonts/OpenSansBoldItalic.woff) format("woff"), url(fonts/OpenSansBoldItalic.ttf) format("truetype"), url(fonts/OpenSansBoldItalic.svg#OpenSansBoldItalic) format("svg"); }

@font-face {
  font-family: 'OpenSansExtrabold';
  src: url(fonts/OpenSansExtraBold.eot);
  src: url(fonts/OpenSansExtraBold.eot) format("embedded-opentype"), url(fonts/OpenSansExtraBold.woff2) format("woff2"), url(fonts/OpenSansExtraBold.woff) format("woff"), url(fonts/OpenSansExtraBold.ttf) format("truetype"), url(fonts/OpenSansExtraBold.svg#OpenSansExtraBold) format("svg"); }

@font-face {
  font-family: 'OpenSansExtrabolditalic';
  src: url(fonts/OpenSansExtraBoldItalic.eot);
  src: url(fonts/OpenSansExtraBoldItalic.eot) format("embedded-opentype"), url(fonts/OpenSansExtraBoldItalic.woff2) format("woff2"), url(fonts/OpenSansExtraBoldItalic.woff) format("woff"), url(fonts/OpenSansExtraBoldItalic.ttf) format("truetype"), url(fonts/OpenSansExtraBoldItalic.svg#OpenSansExtraBoldItalic) format("svg"); }

@font-face {
  font-family: 'OpenSansItalic';
  src: url(fonts/OpenSansItalic.eot);
  src: url(fonts/OpenSansItalic.eot) format("embedded-opentype"), url(fonts/OpenSansItalic.woff2) format("woff2"), url(fonts/OpenSansItalic.woff) format("woff"), url(fonts/OpenSansItalic.ttf) format("truetype"), url(fonts/OpenSansItalic.svg#OpenSansItalic) format("svg"); }

@font-face {
  font-family: 'OpenSansLight';
  src: url(fonts/OpenSansLight.eot);
  src: url(fonts/OpenSansLight.eot) format("embedded-opentype"), url(fonts/OpenSansLight.woff2) format("woff2"), url(fonts/OpenSansLight.woff) format("woff"), url(fonts/OpenSansLight.ttf) format("truetype"), url(fonts/OpenSansLight.svg#OpenSansLight) format("svg"); }

@font-face {
  font-family: 'OpenSansLightitalic';
  src: url(fonts/OpenSansLightItalic.eot);
  src: url(fonts/OpenSansLightItalic.eot) format("embedded-opentype"), url(fonts/OpenSansLightItalic.woff2) format("woff2"), url(fonts/OpenSansLightItalic.woff) format("woff"), url(fonts/OpenSansLightItalic.ttf) format("truetype"), url(fonts/OpenSansLightItalic.svg#OpenSansLightItalic) format("svg"); }

@font-face {
  font-family: 'OpenSansSemibolditalic';
  src: url(fonts/OpenSansSemiboldItalic.eot);
  src: url(fonts/OpenSansSemiboldItalic.eot) format("embedded-opentype"), url(fonts/OpenSansSemiboldItalic.woff2) format("woff2"), url(fonts/OpenSansSemiboldItalic.woff) format("woff"), url(fonts/OpenSansSemiboldItalic.ttf) format("truetype"), url(fonts/OpenSansSemiboldItalic.svg#OpenSansSemiboldItalic) format("svg"); }

html {
  padding: 0;
  margin: 0;
  height: 100%; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

* {
  box-sizing: border-box; }

a {
  text-decoration: none; }

body {
  background-color: #ebedef;
  color: #333333;
  font-family: 'OpenSansRegular';
  font-size: 16px;
  padding: 0;
  margin: 0;
  height: 100%; }

.wrapper {
  min-height: 100%;
  margin-bottom: -220px; }
  .wrapper:after {
    content: '';
    display: block;
    height: 220px; }

.footer {
  height: 220px;
  background-image: url("../images/footer-bg.jpg"); }

:focus::-webkit-input-placeholder {
  color: transparent;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease; }

:focus::-moz-placeholder {
  color: transparent;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease; }

:focus:-moz-placeholder {
  color: transparent;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease; }

:focus:-ms-input-placeholder {
  color: transparent;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease; }

::-webkit-input-placeholder {
  color: #7f7f7f;
  font-family: 'OpenSansLight';
  font-size: 14px; }

::-moz-placeholder {
  color: #7f7f7f;
  font-family: 'OpenSansLight';
  font-size: 14px; }

:-moz-placeholder {
  color: #7f7f7f;
  font-family: 'OpenSansLight';
  font-size: 14px; }

:-ms-input-placeholder {
  color: #7f7f7f;
  font-family: 'OpenSansLight';
  font-size: 14px; }

/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
.socials {
  float: left; }

.socials__item {
  display: inline-block;
  position: relative;
  width: 26px;
  height: 26px;
  background-color: #333333;
  border-radius: 13px;
  margin-left: 12px; }
  .socials__item:first-child {
    margin-left: 0; }

.socials__link {
  display: block;
  text-indent: -9999px;
  height: 100%;
  width: 100%; }
  .socials__link:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%; }
  .socials__link_fb:after {
    background-image: url(../_dev/sprites/sprite.png);
    background-position: -362px -91px;
    width: 6px;
    height: 12px;
    margin-top: -6px;
    margin-left: -3px; }
  .socials__link_fb:hover:after {
    background-image: url(../_dev/sprites/sprite.png);
    background-position: -362px -173px;
    width: 6px;
    height: 12px; }
  .socials__link_vk:after {
    background-image: url(../_dev/sprites/sprite.png);
    background-position: -443px -172px;
    width: 10px;
    height: 12px;
    margin-top: -6px;
    margin-left: -5px; }
  .socials__link_vk:hover:after {
    background-image: url(../_dev/sprites/sprite.png);
    background-position: -443px -254px;
    width: 10px;
    height: 12px; }
  .socials__link_tw:after {
    background-image: url(../_dev/sprites/sprite.png);
    background-position: -86px -357px;
    width: 16px;
    height: 12px;
    margin-top: -6px;
    margin-left: -8px; }
  .socials__link_tw:hover:after {
    background-image: url(../_dev/sprites/sprite.png);
    background-position: 0px -357px;
    width: 16px;
    height: 12px; }

.socials_big {
  display: inline-block;
  margin-bottom: 21px; }

.socials__item.socials__item_big {
  width: 44px;
  height: 44px;
  background-color: #fff;
  border-radius: 22px;
  margin-left: 22px;
  text-align: left; }
  .socials__item.socials__item_big:first-child {
    margin-left: 0; }

.socials__link.socials__link_big:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%; }

.socials__link.socials__link_big.socials__link_fb:after {
  background-image: url(../_dev/sprites/sprite.png);
  background-position: -276px -172px;
  width: 11px;
  height: 21px;
  margin-top: -10.5px;
  margin-left: -5.5px; }

.socials__link.socials__link_big.socials__link_fb:hover:after {
  background-image: url(../_dev/sprites/sprite.png);
  background-position: -362px 0px;
  width: 11px;
  height: 21px; }

.socials__link.socials__link_big.socials__link_vk:after {
  background-image: url(../_dev/sprites/sprite.png);
  background-position: -190px 0px;
  width: 16px;
  height: 21px;
  margin-top: -10.5px;
  margin-left: -8px; }

.socials__link.socials__link_big.socials__link_vk:hover:after {
  background-image: url(../_dev/sprites/sprite.png);
  background-position: 0px -181px;
  width: 16px;
  height: 21px; }

.socials__link.socials__link_big.socials__link_tw:after {
  background-image: url(../_dev/sprites/sprite.png);
  background-position: -95px 0px;
  width: 25px;
  height: 21px;
  margin-top: -10.5px;
  margin-left: -12.5px; }

.socials__link.socials__link_big.socials__link_tw:hover:after {
  background-image: url(../_dev/sprites/sprite.png);
  background-position: 0px 0px;
  width: 25px;
  height: 21px; }

.contacts {
  float: right;
  max-width: 950px; }

.contacts__list {
  line-height: 24px;
  letter-spacing: 0px; }

.contacts__item {
  display: inline-block;
  margin-left: 83px; }
  .contacts__item:first-child {
    margin-left: 0; }
  .contacts__item:before {
    content: '';
    display: inline-block;
    vertical-align: bottom;
    margin-right: 10px;
    margin-bottom: 4px; }

.contacts__adress {
  font-family: 'OpenSansRegular';
  font-size: 14px; }
  .contacts__adress:before {
    background-image: url(../_dev/sprites/sprite.png);
    background-position: -443px 0px;
    width: 12px;
    height: 16px; }

.contacts__phone {
  font-family: 'OpenSansSemibold';
  font-size: 18px;
  display: inline-block; }
  .contacts__phone:before {
    background-image: url(../_dev/sprites/sprite.png);
    background-position: -443px -86px;
    width: 12px;
    height: 16px; }

.logo__link {
  display: block;
  font: 0/0 serif;
  text-shadow: none;
  color: transparent; }

.logo {
  display: inline-block; }

.logo__img {
  max-width: 238px;
  max-height: 36px; }

.search {
  display: inline-block; }

.search__button {
  background-color: #ff6705;
  background-image: linear-gradient(top, #ff6600, #ff6e35);
  background-image: -webkit-linear-gradient(top, #ff6600, #ff6e35);
  color: #fff;
  font-family: 'OpenSansSemibold';
  font-size: 16px;
  outline: none;
  padding: 5px 14px 6px 13px;
  border-radius: 0 3px 3px 0;
  border: none;
  margin-left: -5px; }
  .search__button:hover {
    background-color: #eb5c00;
    background-image: none;
    -webkit-transition: background-color 0.2s ease;
    transition: background-color 0.2s ease; }

.search__input {
  border: #dee1e4 1px solid;
  outline: none;
  line-height: 32px;
  padding: 0 15px;
  border-radius: 3px 0 0 3px;
  min-width: 288px; }

.user-data {
  display: inline-block; }
  .user-data__list {
    font-size: 16px;
    font-family: 'OpenSansSemibold'; }
  .user-data__item {
    display: inline-block;
    margin-left: 29px; }
  .user-data__item:first-child {
    margin-left: 0; }
  .user-data__link {
    display: block;
    color: #333333;
    text-decoration: underline; }
  .user-data__link:hover {
    color: #ff6d1d;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease; }

.navigation {
  max-width: 1099px;
  margin: 0 auto;
  padding: 0 6px; }

.nav__list {
  font-size: 0; }

.nav__item {
  display: inline-block;
  font-size: 16px;
  line-height: 54px;
  padding-left: 15px;
  padding-right: 15px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .nav__item:hover {
    background-color: #e4e2e2; }
  .nav__item.nav__item_active {
    background-color: #ff6705; }
    .nav__item.nav__item_active .nav__link {
      color: #fff; }

.nav__link {
  color: #333333;
  display: block; }

.nav__list.nav__list_small {
  text-align: right; }

.nav__item.nav__item_small {
  line-height: 35px;
  background-color: transparent;
  margin-left: 25px;
  padding: 0; }
  .nav__item.nav__item_small:hover {
    background-color: transparent; }

.nav__link.nav__link_small {
  display: inline;
  color: #fff;
  font-size: 14px;
  text-decoration: underline;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  .nav__link.nav__link_small:hover {
    color: #ff6705; }

.crumbs {
  display: inline-block; }
  .crumbs__item {
    display: inline-block; }
    .crumbs__item:after {
      content: '>';
      display: inline-block;
      vertical-align: middle; }
    .crumbs__item:last-child:after {
      content: '';
      display: none; }
  .crumbs__link {
    color: #333333;
    font-size: 14px;
    padding-right: 2px; }
    .crumbs__link:hover {
      color: #ff6705;
      text-decoration: underline; }

.header-contacts {
  background-color: #fff;
  border-bottom: #ebedef 2px solid; }

.header-inner {
  display: block;
  padding: 26px 0;
  max-width: 1099px;
  margin: 0 auto; }
  .header-inner:after {
    content: '';
    display: table;
    height: 0;
    clear: both;
    visibility: hidden; }

.header-info {
  max-width: 1099px;
  margin: 0 auto;
  padding: 28px 0; }
  .header-info:before {
    content: '';
    display: inline-block;
    height: 100%;
    width: 0;
    vertical-align: middle; }
  .header-info .search {
    vertical-align: middle;
    margin-left: 53px;
    margin-top: 2px; }
  .header-info .logo {
    float: left; }
  .header-info .user-data {
    float: right;
    margin-top: 8px; }

.nav-wrapper {
  background-color: #fff;
  border-bottom: #ebedef solid 2px;
  margin-bottom: 25px; }

.crumbs-wrapper {
  margin: 0 auto;
  max-width: 1104px;
  margin-bottom: 17px; }

.topic-wrapper {
  margin: 0 auto;
  max-width: 1105px;
  margin-bottom: 29px; }

.topic__header {
  font-size: 20px;
  font-family: 'OpenSansBold';
  margin: 0; }

.copyright__content {
  font-size: 12px;
  color: #fff;
  text-align: center;
  max-width: 1099px;
  margin: 0 auto;
  padding: 5px; }

.footer-wrapper {
  max-width: 1094px;
  margin: 0 auto;
  padding-top: 34px;
  margin-bottom: 22px; }

.footer-container {
  display: block; }
  .footer-container:after {
    content: '';
    display: table;
    height: 0;
    clear: both;
    visibility: hidden; }

.logo-wrapper {
  float: left;
  margin-top: 37px; }

.menu-wrapper {
  max-width: 553px;
  float: right;
  text-align: right; }

.copyright {
  border-top: 2px solid #494949; }

/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
.product-type__list {
  font-size: 14px; }

.product-type__item {
  border: 1px solid #dee1e4;
  background-color: #fbfbfb;
  padding: 12px 27px; }
  .product-type__item:first-child {
    border-radius: 4px 4px 0 0; }
  .product-type__item:last-child {
    border-radius: 0 0 4px 4px; }
  .product-type__item.product-type__item_active {
    background-color: #d9e5ea; }

.product-type__link {
  display: block;
  color: #7f7f7f;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  .product-type__link:hover {
    color: #595959; }
  .product-type__link.product-type__link_active {
    color: #5d656c; }

.product-type {
  margin-bottom: 40px; }

.color__list {
  margin-top: -20px; }

.color__item {
  display: inline-block;
  width: 37px;
  height: 37px;
  background-color: #fff;
  border: 1px solid #dee1e4;
  margin-right: 19px;
  margin-top: 17px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  .color__item:hover {
    border: 2px solid #ff6600; }

.pseudo__element {
  display: inline-block;
  width: 19px;
  height: 19px;
  border-radius: 10px;
  border: 3px solid #dee1e4;
  cursor: pointer;
  position: relative; }
  .pseudo__element:after {
    content: '';
    height: 0;
    width: 0;
    border-radius: 5px;
    background-color: #f60;
    position: absolute;
    top: center;
    laft: center;
    margin-left: 2px;
    margin-top: 2px;
    opacity: 0;
    -webkit-transition: opacity 0.2s ease;
    transition: opacity 0.2s ease; }

.pseudo__text {
  display: inline-block;
  font-size: 14px;
  vertical-align: top;
  margin-left: 8px; }

.exist__radio {
  position: absolute;
  left: -9990px; }
  .exist__radio:checked + .pseudo__element {
    border: 3px solid #ff6600; }
    .exist__radio:checked + .pseudo__element:after {
      height: 9px;
      width: 9px;
      opacity: 1; }

.exist__label {
  position: relative; }

.radio-wrapper {
  margin-bottom: 13px; }
  .radio-wrapper:last-child {
    margin-bottom: 0; }

.brand__item_input {
  position: absolute;
  left: -9999px; }
  .brand__item_input:checked + .brand__element {
    background-color: #f60; }
    .brand__item_input:checked + .brand__element:after {
      opacity: 1; }
    .brand__item_input:checked + .brand__element:hover:after {
      background-image: url(../_dev/sprites/sprite.png);
      background-position: -257px -272px;
      width: 13px;
      height: 10px; }

.brand__element {
  display: inline-block;
  width: 19px;
  height: 19px;
  background-color: #dee1e4;
  border-radius: 4px;
  cursor: pointer; }
  .brand__element:after {
    display: block;
    content: '';
    background-image: url(../_dev/sprites/sprite.png);
    background-position: -257px -272px;
    width: 13px;
    height: 10px;
    margin-top: 4px;
    margin-left: 3px;
    opacity: 0;
    -webkit-transition: opacity 0.2s ease;
    transition: opacity 0.2s ease; }
  .brand__element:hover:after {
    background-image: url(../_dev/sprites/sprite.png);
    background-position: -174px -272px;
    width: 13px;
    height: 10px;
    opacity: 1; }

.brand__text {
  display: inline-block;
  font-size: 14px;
  vertical-align: top;
  margin-left: 7px; }

.brand__item {
  margin-bottom: 12px; }
  .brand__item:last-child {
    margin-bottom: 0; }

.reset__brand {
  text-decoration: underline;
  font-size: 14px; }
  .reset__brand_link {
    color: #5db2fc; }

.brand__list {
  margin-bottom: 10px; }

.reset {
  margin-bottom: 3px; }

.price__label {
  display: inline-block;
  vertical-align: middle;
  margin-left: 42px; }
  .price__label:first-child {
    margin-left: 0; }

.price__input {
  display: inline-block;
  vertical-align: middle;
  width: 82px;
  border: #dee1e4 1px solid;
  outline: none;
  line-height: 27px;
  padding: 0 10px;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(148, 148, 148, 0.43);
  margin-left: 12px;
  font-size: 14px; }

.filters__list {
  background-color: #fbfbfb;
  border: 1px solid #dee1e4;
  border-radius: 4px; }

.filters__item {
  border-bottom: 1px solid #dee1e4;
  padding-left: 28px;
  padding-right: 21px;
  padding-top: 12px;
  padding-bottom: 14px; }
  .filters__item:last-child {
    border-bottom: none; }

.filter__header {
  font-size: 16px;
  font-family: 'OpenSansSemibold';
  margin: 0;
  margin-bottom: 16px; }
  .filter__header_link {
    display: block;
    color: #333333;
    position: relative; }
    .filter__header_link:after {
      display: block;
      content: '';
      position: absolute;
      -webkit-transition: opacity 0.3s ease;
      transition: opacity 0.3s ease;
      top: 9px;
      right: -9px;
      background-image: url(../_dev/sprites/sprite.png);
      background-position: -86px -272px;
      width: 18px;
      height: 11px;
      opacity: 0; }
    .filter__header_link:hover:after {
      opacity: 1; }
    .filter__header_link.active_link:after {
      background-image: url(../_dev/sprites/sprite.png);
      background-position: -340px -272px;
      width: 13px;
      height: 9px; }

.sort-wrapper {
  padding-left: 19px;
  padding-right: 2px;
  border-radius: 4px;
  background-color: #dde7ec;
  border: 1px solid #dee1e4;
  margin-bottom: 20px;
  display: block; }
  .sort-wrapper:after {
    content: '';
    display: table;
    height: 0;
    clear: both;
    visibility: hidden; }

.pages-wrapper {
  text-align: right; }

.products {
  margin-left: -18px;
  margin-bottom: 60px; }

.products__item {
  display: inline-block;
  background-color: #fbfbfb;
  border-radius: 4px;
  border: 1px solid #dee1e4;
  padding: 10px;
  width: 233px;
  padding-top: 20px;
  padding-bottom: 18px;
  margin-left: 17px;
  margin-bottom: 18px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  .products__item:hover {
    box-shadow: 0 0 8px rgba(153, 153, 153, 0.45); }
  .products__item.medium {
    display: block;
    width: 742px;
    margin-bottom: 0;
    border-radius: 0;
    border-bottom: 1px solid transparent;
    padding: 18px 24px 16px 20px; }
    .products__item.medium:first-child {
      border-radius: 4px 4px 0 0; }
    .products__item.medium:last-child {
      border-radius: 0 0 4px 4px;
      border-bottom: 1px solid #dee1e4; }
    .products__item.medium .product__gallery {
      margin: 0;
      display: inline-block;
      vertical-align: top; }
      .products__item.medium .product__gallery .plu {
        display: block; }
    .products__item.medium .product__description {
      text-align: left; }
    .products__item.medium .description__list {
      display: none; }
    .products__item.medium .full-description {
      display: block;
      text-align: left;
      margin: 0;
      margin-bottom: 17px; }
    .products__item.medium .description__header {
      padding: 0;
      font-size: 16px;
      padding-top: 7px;
      margin-bottom: 20px; }
    .products__item.medium .desc-wrapper {
      display: inline-block;
      max-width: 407px;
      height: 210px;
      border-right: 1px solid #dee1e4;
      vertical-align: top;
      padding-right: 20px;
      text-align: left;
      margin-left: 20px; }
    .products__item.medium .product__rating {
      margin: 0;
      display: inline-block; }
    .products__item.medium .buy-wrapper {
      display: inline-block;
      width: 124px;
      height: 210px;
      position: relative; }
    .products__item.medium .product__price {
      text-align: right;
      padding-top: 7px; }
    .products__item.medium .product__buy {
      position: absolute;
      right: 0;
      bottom: 0;
      text-align: right;
      height: 55px; }
    .products__item.medium .product__qty {
      font-size: 12px;
      position: absolute;
      bottom: 0;
      right: 0; }

.product__gallery {
  width: 136px;
  margin: 0 auto;
  margin-bottom: 7px;
  text-align: center; }

.product__image, .product__image__item {
  display: block;
  width: 136px;
  height: 136px;
  border: 1px solid #dee1e4;
  border-radius: 4px;
  background: #fff;
  position: relative;
  margin-bottom: 15px;
  cursor: pointer; }

.main__image, .small__image {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  z-index: 5;
  max-width: 130px;
  max-height: 130px; }

.small__image {
  max-width: 30px;
  max-height: 30px; }

.product__image__item {
  display: inline-block;
  width: 34px;
  height: 34px;
  margin-left: 12px;
  margin-bottom: 0;
  cursor: pointer; }
  .product__image__item:first-child {
    margin-left: 0; }
  .product__image__item:hover {
    border: 1px solid #ff6705; }

.plu {
  display: none;
  color: #7f7f7f;
  font-size: 12px;
  font-family: 'OpenSansBold';
  margin-top: 5px; }
  .plu .plu__number {
    color: #333333;
    font-family: 'OpenSansSemibold';
    margin-left: 4px; }

.product__description {
  text-align: center;
  margin-bottom: 7px; }

.description__header {
  color: #000;
  font-size: 14px;
  font-family: 'OpenSansSemibold';
  margin: 0;
  margin-bottom: 5px;
  padding-right: 8px;
  padding-left: 8px; }

.description__list {
  color: #333333;
  font-size: 14px;
  line-height: 20px;
  font-family: 'OpenSansRegular'; }

.description__item {
  display: table;
  width: 100%; }
  .description__item:nth-child(odd) {
    background-color: #e6e6e6; }

.description_option, .description_value {
  display: table-cell;
  text-align: left;
  padding-left: 2px;
  padding-right: 2px;
  line-height: 20px; }

.description_value {
  text-align: right; }

.full-description {
  display: none;
  font-size: 14px;
  color: #333333;
  font-family: 'OpenSansRegular';
  overflow: hidden;
  text-overflow: ellipsis; }

.product__rating:after {
  content: '';
  display: table;
  clear: both; }

.product__rating {
  width: 138px;
  margin: 0 auto;
  margin-bottom: 7px; }

.rating__list {
  float: left;
  font-size: 0; }

.rating__item {
  display: inline-block;
  background-image: url(../_dev/sprites/sprite.png);
  background-position: 0px -91px;
  width: 21px;
  height: 20px;
  height: 19px;
  width: 19px; }
  .rating__item.rating__item_active {
    background-image: url(../_dev/sprites/sprite.png);
    background-position: 0px -272px;
    width: 16px;
    height: 15px;
    height: 19px;
    width: 19px; }

.rating__total {
  display: inline-block;
  font-family: 'OpenSansSemibold';
  font-size: 12px;
  color: #fbfbfb;
  background-color: #b5beca;
  width: 26px;
  height: 14px;
  border-radius: 7px;
  text-align: center;
  line-height: 14px;
  float: right;
  margin-top: 2px; }

.product__price {
  text-align: center;
  font-family: 'OpenSansSemibold';
  font-size: 20px;
  line-height: 20px;
  color: #333333;
  margin-bottom: 8px; }

.product__qty {
  display: inline-block;
  margin-left: 19px;
  font-family: 'OpenSansBold';
  font-size: 10px;
  color: #7f7f7f;
  position: relative; }
  .product__qty:before {
    content: '';
    display: block;
    width: 7px;
    height: 7px;
    border-radius: 4px;
    background-color: #60ac49;
    position: absolute;
    top: 5px;
    left: -12px; }
  .product__qty.product__qty_off:before {
    background-color: #ca1113; }

.button__buy {
  display: inline-block;
  margin-left: 26px;
  font-family: 'OpenSansBold';
  font-size: 14px;
  color: #fff;
  width: 102px;
  height: 33px;
  background-image: -webkit-linear-gradient(bottom, #ff6600, #ff6e35);
  background-image: linear-gradient(to top, #ff6600, #ff6e35);
  border: none;
  border-radius: 4px; }
  .button__buy:hover {
    background-image: -webkit-linear-gradient(bottom, #cc5200, #ff4902);
    background-image: linear-gradient(to top, #cc5200, #ff4902); }

.view {
  height: 50px;
  display: inline-block;
  float: right; }
  .view__header {
    margin: 0;
    color: #5d656c;
    font-size: 14px;
    display: inline-block;
    font-weight: normal; }
  .view__list {
    display: inline-block;
    font-size: 0;
    margin-left: 15px; }
  .view__item {
    display: inline-block;
    height: 50px;
    width: 50px;
    cursor: pointer;
    padding: 17px;
    border-left: 1px solid #dee1e4, 20%; }
  .view__link {
    display: inline-block; }
    .view__link.view__link_medium {
      background-image: url(../_dev/sprites/sprite.png);
      background-position: -276px 0px;
      width: 16px;
      height: 16px; }
      .view__link.view__link_medium.view__link_active {
        background-image: url(../_dev/sprites/sprite.png);
        background-position: -276px -86px;
        width: 16px;
        height: 16px; }
    .view__link.view__link_large {
      background-image: url(../_dev/sprites/sprite.png);
      background-position: -91px -91px;
      width: 16px;
      height: 16px; }
      .view__link.view__link_large.view__link_active {
        background-image: url(../_dev/sprites/sprite.png);
        background-position: -172px -181px;
        width: 16px;
        height: 16px; }
    .view__link.view__link_small {
      background-image: url(../_dev/sprites/sprite.png);
      background-position: -190px -91px;
      width: 16px;
      height: 16px; }
      .view__link.view__link_small.view__link_active {
        background-image: url(../_dev/sprites/sprite.png);
        background-position: -86px -181px;
        width: 16px;
        height: 16px; }

.sort__form {
  display: inline-block;
  float: left;
  margin-top: 11px; }
  .sort__form__label {
    color: #5d656c;
    font-size: 14px; }
  .sort__form__select {
    margin-left: 9px;
    color: #7f7f7f;
    font-size: 14px;
    font-family: 'OpenSansLight';
    padding-left: 6px;
    width: 140px;
    height: 29px;
    border-radius: 4px;
    border: 1px solid #ebedef;
    -webkit-appearance: none;
    background-color: #fff;
    box-shadow: inset 0 1px 1px #dddddd;
    background-image: url("../images/icons/arrow-down.png");
    background-position: 95% 53%;
    background-repeat: no-repeat;
    line-height: 1em;
    /* for FF */
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    /* for IE */
    -ms-appearance: none;
    -webkit-appearance: none !important;
       -moz-appearance: none !important;
            appearance: none !important; }
  .sort__form__option:hover {
    color: #333333;
    font-family: 'OpenSansSemibold'; }

select::-ms-expand {
  display: none; }

.page-nav__list {
  display: inline-block; }

.page-nav__item {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: #fdfdfd;
  border-radius: 3px;
  border: 1px solid #aeaeae;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
  font-family: 'OpenSansBold';
  font-size: 12px;
  color: #7f7f7f;
  text-shadow: 0 1px 0 #fff;
  text-align: center;
  line-height: 25px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  .page-nav__item:hover {
    background-color: #e4e4e4; }
  .page-nav__item.page-nav__item_active {
    background-color: #e0e0e0; }

.page-nav__link {
  display: block; }

.page-nav__item.page-nav__item_left, .page-nav__item.page-nav__item_right {
  font-size: 16px;
  cursor: pointer; }

.main-wrapper, .info-wrapper {
  max-width: 1099px;
  margin: 0 auto; }

.main-wrapper {
  display: block; }
  .main-wrapper:after {
    content: '';
    display: table;
    height: 0;
    clear: both;
    visibility: hidden; }

.content-wrapper {
  float: right;
  width: 742px; }

.aside-wrapper {
  float: left;
  max-width: 333px; }

.info-wrapper {
  padding-top: 18px;
  padding-bottom: 18px; }

.info__content {
  text-align: justify;
  -moz-column-count: 2;
       column-count: 2;
  -webkit-column-count: 2;
  -moz-column-gap: 38px;
       column-gap: 38px;
  -webkit-column-gap: 38px; }
  .info__content p {
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    margin-bottom: 21px;
    text-indent: 38px; }

.info__header {
  font-family: 'OpenSansBold';
  font-size: 20px;
  line-height: 20px;
  margin: 0;
  margin-bottom: 18px; }
