.price__label {
	display: inline-block;
	vertical-align: middle;
	margin-left: 42px;
	&:first-child {
		margin-left: 0;
	}
}
.price__input {
	display: inline-block;
	vertical-align: middle;
	width: 82px;
	border: #dee1e4 1px solid;
	outline:none;
	padding: 4px 10px;
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(#949494, 0.43);
	margin-left: 12px;
	font-size: 14px;
}
.price-wrapper {
	margin-bottom: 17px;
}
//slider
.ui-slider {
	height: 3px;
	background-color: #dee1e4;
	position: relative;
	margin-bottom: 18px;
}
.ui-slider-range {
	height: 3px;
	background-color: $orange;
	position: absolute;
}
.ui-slider-handle {
	display: block;
	position: absolute;
	@include sprite($slider);
	margin-left: -4px;
	outline: none;
}