.price
	h3.filter__header Цена
	form.price__form
		.price-wrapper
			label(for="from").price__label От
				input(type="text" name="from").price__input
			label(for="to").price__label До
				input(type="text" name="to").price__input
		.slider