h3.filter__header
	a(href="#").filter__header_link Цена
.price.filter
	form.price__form
		.price-wrapper
			label(for="from").price__label от
			input(type="text" name="from" id="from" data-min="5000").price__input
			label(for="to").price__label до
			input(type="text" name="to" id="to" data-max="30000").price__input
		.slider