.pseudo__element {
	display: inline-block;
	width: 19px;
	height: 19px;
	border-radius: 10px;
	border: 3px solid #dee1e4;
	cursor: pointer;
	position: relative;
	&:after {
		content:'';
		height: 9px;
		width: 9px;
		border-radius: 5px;
		background-color: #f60;
		position: absolute;
		top:0;
		left: 0;
		bottom: 0;
		right: 0;
		margin: auto;
		opacity: 0;
		transition: opacity 0.2s ease;
		}
}
.pseudo__text {
	display: inline-block;
	font-size: 14px;
	vertical-align: top;
	margin-left: 8px;
	max-width: 230px;
}
.exist__radio {
	position: absolute;
	left: -9990px;
	&:checked + .pseudo__element {
		border: 3px solid #ff6600;
		&:after {
			opacity: 1;
		}

	}
}
.exist__label {
	position: relative;
}
.radio-wrapper {
	margin-bottom: 13px;
	&:last-child {
		margin-bottom: 0;
	}
}