.exist
	h3.filter__header Наличие в магазинах
	form.exist__form
		.radio-wrapper
			input(type="radio", name="all", checked).exist__radio 
			label(for="all").exist__label Во всех магазинах
		.radio-wrapper
			input(type="radio", name="closest").exist__radio
			label(for="closest") В ближайшем ко мне магазине

