.socials {
	float:left;
}
.socials__item {
	display:inline-block;
	position: relative;
	width: 26px;
	height: 26px;
	background-color: #333333;
	border-radius: 13px;
	margin-left:12px;
	&:first-child {
		margin-left: 0;
	}
}
.socials__link {
	display: block;
	text-indent: -9999px;
	height: 100%;
	width: 100%;
	&:after {
		content: '';
		position: absolute;
		top: 0;
		left:0;
		bottom: 0;
		right: 0;
		margin: auto;
	}
	&_fb:after {
		@include sprite($fb);
		height: $fb-height + 1;
		width: $fb-width +1;
	}
	&_fb:hover:after {
		@include sprite($fb-hover);
		height: $fb-hover-height + 1;
		width: $fb-hover-width +1;
	}
	&_vk:after {
		@include sprite($vk);
		height: $vk-height + 1;
	}
	&_vk:hover:after {
		@include sprite($vk-hover);
		height: $vk-hover-height + 1;
	}
	&_tw:after {
		@include sprite($tw);
		height: $tw-height + 1;
	}
	&_tw:hover:after {
		@include sprite($tw-hover);
		height: $tw-hover-height + 1;
	}
}
.socials_big {
	display: inline-block;
	margin-bottom: 21px;
}
.socials__item.socials__item_big {
	width: 44px;
	height: 44px;
	background-color: #fff;
	border-radius: 22px;
	margin-left: 22px;
	text-align: left;
	&:first-child {
		margin-left: 0;
	}
}
.socials__link.socials__link_big {
	&:after {
		content: '';
		position: absolute;
		top: 50%;
		left:50%;
	}
	&.socials__link_fb:after {
		@include sprite($fb-big);
		margin-top: -($fb-big-height/2);
		margin-left:-($fb-big-width/2);
	}
	&.socials__link_fb:hover:after {
		@include sprite($fb-big-hover);
	}
	&.socials__link_vk:after {
		@include sprite($vk-big);
		margin-top: -($vk-big-height/2);
		margin-left:-($vk-big-width/2);
	}
	&.socials__link_vk:hover:after {
		@include sprite($vk-big-hover);
	}
	&.socials__link_tw:after {
		@include sprite($tw-big);
		margin-top: -($tw-big-height/2);
		margin-left:-($tw-big-width/2);
	}
	&.socials__link_tw:hover:after {
		@include sprite($tw-big-hover);
	}
}