- var socials = ['Facebook','VK','Twitter']
.socials
	ul.socials__list
		each item in socials
			li(class="socials__list socials__list_big")
				a(href="#" class="socials__link socials__link_big socials__link_#{item}")=item