- var socials = ['fb','vk','tw']
.socials_big
	ul.socials__list_big
		each item in socials
			li(class="socials__item socials__item_big")
				a(href="#" class="socials__link socials__link_big socials__link_#{item}")=item