form(action="#").sort__form
	label(for="sort-type") Сортировать по
	select(name="sort-type").sort__select
		option(value="по цене", selected).sort__option по цене
		option(value="по популярности").sort__option по популярности
