form(action="#").sort__form
	label(for="sort-type").sort__form__label Сортировать по
	select(name="sort-type").sort__form__select
		option(value="по цене", selected).sort__form__option по цене
		option(value="по популярности").sort__form__option по популярности
