block crumbs
	- var crumbs = ['Главная']
.crumbs
	ul.crumbs__list
		each item in crumbs
			if item == 'Каталог'
				li.crumbs__item
					a(href="#").crumbs__link.crumbs_active=item
			else
				li.crumbs__item
					a(href="#").crumbs__link=item
