.aside-wrapper
	include ../modules/product-type/product-type.jade
	ul.filters__list
		li.filters__item
			include ../modules/filter-exist/filter-exist.jade
		li.filters__item
			include ../modules/filter-brand/filter-brand.jade
		li.filters__item
			include ../modules/filter-price/filter-price.jade
		li.filters__item
			include ../modules/filter-color/filter-color.jade
		li.filters__item
			include ../modules/filter-brand/filter-os.jade