.content-wrapper
	.sort-wrapper
		include ../modules/diff-sort/diff-sort.jade
		include ../modules/products-view/products-view.jade
	.products
		include ../modules/product/product.jade
	.pages-wrapper
		include ../modules/page-nav/page-nav.jade
		

					
