.footer-wrapper
	.footer-container
		.logo-wrapper
			include ../modules/logo/logo-white.jade
		.menu-wrapper
			include ../modules/socials/socials-big.jade
			include ../modules/nav/nav-small.jade
.copyright
	include ../modules/copyright/copyright.jade
