header.header
	.container
		.header-wrapper
			include ../modules/socials/socials.jade
			include ../modules/contacts/contacts.jade
		.header-wrapper
			include ../modules/logo/logo.jade
			include ../modules/search/search.jade
			include ../modules/user-data/user-data.jade
