header.header
	.container
		.header-contacts
			.header-inner
				include ../modules/socials/socials.jade
				include ../modules/contacts/contacts.jade
		.header-info
			include ../modules/logo/logo.jade
			include ../modules/search/search.jade
			include ../modules/user-data/user-data.jade
