- var colors = ['fff', 'ccc', '000', '0a3153', 'ff1800', 'fff343', 'fb914a', '92c37c', '40a6ff', '9870ad', 'dc78ad', '7f401d']
.color
	h3.filter__header 
		a(href="#").filter__header_link Цвет
	ul.color__list
		each item in colors
			li(class="color__item color__item_#{item}" style="background-color: #"+ item)
			
