- var colors = ['white', 'grey', 'black', 'blue', 'red', 'yellow', 'orange', 'green', 'navy', 'violet', 'pink', 'brown']
.color
	h3.filter__header Цвет
	ul.color__list
		each item in colors
			li(class="color__item color__item_#{item}")
