block brands
	- var brand = ['Lenovo','Apple','Samsung','Asus','Motorola']
	- var header = 'Бренды'
h3.filter__header
	a(href="#").filter__header_link=header
.brand.filter
	form.brand__form
		ul.brand__list
			each item in brand
				li.brand__item
					label.brand__item_label
						input(type="checkbox").brand__item_input
						span.brand__element
						span.brand__text=item
					
	.reset
		span.reset__brand 
			a(href="#").reset__brand_link Сбросить фильтр

