.brand__item_input {
	position: absolute;
	left: -9999px;
	&:checked + .brand__element {
		background-color: #f60;
		&:after {
			opacity: 1;
		}
		&:hover:after {
			@include sprite($check);
		}
	}
}
.brand__element {
	display: inline-block;
	width: 19px;
	height: 19px;
	background-color: #dee1e4;
	border-radius: 4px;
	cursor: pointer;
	&:after {
		display: block;
		content: '';
		@include sprite($check);
		margin-top:4px;
		margin-left:3px;
		opacity: 0;
		transition: opacity 0.2s ease;

	}
	&:hover:after {
			@include sprite($check-hover);
			opacity:1;
		}
}
.brand__text {
	display: inline-block;
	font-size: 14px;
	vertical-align: top;
	margin-left: 7px;
	max-width: 230px;
}
.brand__item {
	margin-bottom: 12px;
	&:last-child {
		margin-bottom: 0;
	}
}
.reset__brand {
	font-size: 14px;
	&_link {
		color: #5db2fc;
		text-decoration: underline;
	}
}
.brand__list {
	margin-bottom: 10px;
}
.reset {
	margin-bottom: 3px;
}
.brand__item_label {
	position: relative;
}
