doctype html
html(lang="ru-Ru")
	include _customs/head.jade
	body
		.wrapper
			include _customs/header.jade
			include _customs/top-nav.jade
			block main
				.main
		footer.footer
			include _customs/footer.jade
