 .navigation {
	max-width: $mainWidth;
	margin: 0 auto;
	padding: 0 6px;
	@include text-oneline;
	height: 54px;
	}
.nav__list{
	font-size: 0;
}
.nav__item {
	display: inline-block;
	font-size: 16px;
	line-height: 54px;
	padding-left: 15px;
	padding-right: 15px;
	transition: all 0.3s ease;
	&:hover {
		background-color: #e4e2e2;
	}
	&.nav__item_active {
		background-color: $orange;
		& .nav__link {
			color: #fff;
		}
	}

}
.nav__link {
	color: $fontColor;
	display: block;
}

//top menu styles
.navigation-small {
}
.nav__list.nav__list_small {
	text-align: right;
}
.nav__item.nav__item_small {
	line-height: 35px;
	background-color: transparent;
	margin-left: 25px;
	padding: 0;
	&:hover {
		background-color: transparent;
	}

}
.nav__link.nav__link_small {
	display: inline;
	color: #fff;
	font-size: 14px;
	text-decoration: underline;
	transition: all 0.2s ease;
	&:hover {
		color: $orange;
	}
}
